.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid gray;
}

.TodoList__text {
  margin: 0 10px 0 0;
}
